@model StoreCatalog.Models.CatalogueItem
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-secondary">In stock:</h1>
            <h2 class="table-headers" style="color:#B46060; margin-bottom: 10px">Processors</h2>
            <a asp-controller="General" asp-action="CreateProcessor" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add new item
            </a>
        </div>
    </div>
</div>


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center; color:#6A5ACD">
                Manufacturer
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Model
            </th>
            <th style="text-align: center; color:#6A5ACD">
                CoreCount
            </th>
            <th style="text-align: center; color:#6A5ACD">
                ThreadCount
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Price
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Availability
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var cpus in Model.Processors)
        {
            <tr>
                <td width="20%" style="text-align: center">
                    @cpus.Manufacturer
                </td>
                <td width="20%" style="text-align: center">
                    @cpus.Model
                </td>
                <td width="10%" style="text-align: center">
                    @cpus.CoreCount
                </td>
                <td width="10%" style="text-align: center">
                    @cpus.ThreadCount
                </td>
                <td width="10%" style="text-align: center">
                    @cpus.Price
                </td>
                <td width="10%" style="text-align: center; color: @(cpus.IsAvailable ? "lime" : "red"); font-weight:bold">
                    @cpus.IsAvailable
                </td>

                    <td style="width: 100%;">
                        <div class="w-100 btn-group d-flex justify-content-center" role="group">
                            <a asp-controller="General" asp-action="EditProcessor" asp-route-id="@cpus.ProcessorId"
                               class="btn btn-primary mx-2" style="width: 100%;">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="General" asp-action="DeleteProcessor" asp-route-id="@cpus.ProcessorId"
                               class="btn btn-danger mx-2" style="width: 100%;">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </td>
            </tr>
        }
    </tbody>

</table>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="table-headers" style="color:#B46060; margin-bottom: 10px">Motherboards</h2>
            <a asp-controller="General" asp-action="CreateMotherboards" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add new item
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center; color:#6A5ACD">
                Manufacturer
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Model
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Socket
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Form Factor
            </th>
            <th style="text-align: center; color:#6A5ACD">
                RAM Slots
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Price
            </th>
            <th style="text-align: center; color:#DF7857">
                Availability
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var mbds in Model.Motherboards)
        {
            <tr>
                <td width="20%" style="text-align: center">
                    @mbds.Manufacturer
                </td>
                <td width="20%" style="text-align: center">
                    @mbds.Model
                </td>
                <td width="10%" style="text-align: center">
                    @mbds.Socket
                </td>
                <td width="10%" style="text-align: center">
                    @mbds.FormFactor
                </td>
                <td width="10%" style="text-align: center">
                    @mbds.RAMSlots
                </td>
                <td width="10%" style="text-align: center">
                    @mbds.Price
                </td>
                <td width="10%" style="text-align: center; color: @(mbds.IsAvailable ? "lime" : "red"); font-weight:bold">
                    @mbds.IsAvailable
                </td>
                <td style="width: 100%;">
                    <div class="w-100 btn-group d-flex justify-content-center" role="group">
                        <a asp-controller="General" asp-action="EditMotherboard" asp-route-id="@mbds.MotherboardId"
                            class="btn btn-primary mx-2" style="width: 100%;"><i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="General" asp-action="DeleteMotherboard" asp-route-id="@mbds.MotherboardId"
                           class="btn btn-danger mx-2" style="width: 100%;">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="table-headers" style="color:#B46060; margin-bottom: 10px">Graphics Cards</h2>
            <a asp-controller="General" asp-action="CreateGraphicsCards" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add new item
            </a>
        </div>
    </div>
</div>


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center; color:#6A5ACD">
                Manufacturer
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Model
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Memory Size
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Memory Type
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Price
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Availability
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var gpus in Model.GraphicsCards)
        {
            <tr>
                <td width="20%" style="text-align: center">
                    @gpus.Manufacturer
                </td>
                <td width="20%" style="text-align: center">
                    @gpus.Model
                </td>
                <td width="10%" style="text-align: center">
                    @gpus.MemorySize
                </td>
                <td width="10%" style="text-align: center">
                    @gpus.MemoryType
                </td>
                <td width="10%" style="text-align: center">
                    @gpus.Price
                </td>
                <td width="10%" style="text-align: center; color: @(gpus.IsAvailable ? "lime" : "red"); font-weight:bold">
                    @gpus.IsAvailable
                </td>
                <td style="width: 100%;">
                    <div class="w-100 btn-group d-flex justify-content-center" role="group">
                        <a asp-controller="General" asp-action="EditGraphicsCard" asp-route-id="@gpus.GraphicsCardId"
                            class="btn btn-primary mx-2" style="width: 100%;"><i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="General" asp-action="DeleteGraphicsCard" asp-route-id="@gpus.GraphicsCardId"
                           class="btn btn-danger mx-2" style="width: 100%;">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
